*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;   
}
body{
    overflow-x: hidden;
}
p, label {
    font-family: 'Open Sans', sans-serif;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeFromLeft {
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes slideTopIn {
    to {
        top: 15%;
        opacity: 1;
    }
}

@keyframes scaleRight {
    to {
        transform: scaleX(1)
    }
}

@keyframes scaleUp{
    to {
        transform: scaleX(1)
    }
}

@keyframes lineDown {
    0% {
        transform: scale(1, 0);
        transform-origin: top center;
    }

    25% {
        transform: scale(1, 1);
        transform-origin: top center;
    }

    75% {
        transform: scale(1, 1);
        transform-origin: top center;
    }

    76% {
        transform: scale(1, 1);
        transform-origin: bottom center;
    }

    100% {
        transform: scale(1, 0);
        transform-origin: bottom center;
    }
}

@keyframes arrowDown{
    0% {
        bottom: 25px;
    }

    30% {
        bottom: 15px;
        opacity: 1;
    }

    70% {
        bottom: 10px;
        opacity: 1;
    }

    100% {
        bottom: 5px;
        opacity: 0;
    }
}

@keyframes skeletonBlur {
    to {
        background-position: 250% -150px;
    }
}


@media screen and (min-width: 320px){

    .gw-page-wrapper, .gw-preloader {
        width: 100%;
        height: 100vh;
        display: table;
        background-color: #111111;
        border: 15px solid #000;
    }

    .gw-preloader {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
    }
    .gw-text-preload {
        color: #f8f8f8;
        text-align: center;
        margin-left: 10px;
    }

    .gw-preloader-inner {
        margin-top: -45px;
    }

    .gw-overlay, .gw-menu-overlay {
        width: 100%;
        height: 100vh;
        display: none;
        position: fixed; 
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: #ff0000;
    }

    .gw-modal {
        width: 90%;
        display: none;
        padding: 30px;
        border-radius: 0 30px 30px 30px;
        position: absolute;
        top: -100%;
        left: 5%;
        right: 5%;
        margin: 0 auto;
        z-index: 1200;
        opacity: 0;
    }

    .gw-modal-header, .gw-modal-body, .gw-form {
        width: 100%;
        display: table;
        position: relative;

    }

    .gw-modal-header h1 {
        line-height: 28px;
    }

    .gw-close-modal {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        color: red;
        text-align: center;
        line-height: center;
        cursor: pointer;
        position: absolute;
        top: -15px;
        right: -15px;
        border: none;
        background-color: #2f2f2f;
    }

    .gw-form label {
        margin-bottom: 3px;
        font-size: 14px;
        display: inline-block;
    }

    .gw-field, .gw-textarea {
        width: 100%;
        background-color: #2f2f2f;
        border-radius: 4px;
        color: #fff;
        border: none;
        font-size: 16px;
        text-indent: 15px;
        margin-bottom: 7px;
    }

    .gw-field {
        height: 45px;
    }


    .gw-topbar {
        width: 90%;
        height: 110px;
        display: block;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 900;
    }

    .gw-logo {
        width: 74px;
        height: 110px;
        float: left;
        margin-left: 60px;
       background-color: #ff0000;
        border-radius: 0 0 37px 0;
    }

    .gw-logo img {
        width: 66px;
        height: px;
        display: block;
        margin: 15px auto 0 auto;
    }

    .gw-menu {
        display: none;
    }

    .gw-btn-menu-mob{
        width: 54px;
        height: 54px;
        display: block;
        border-radius: 50%;
        border: none;
       background-color: #ff0000;
        color: #000;
        position: fixed;
        right: 30px;
        top: 30px;
        z-index: 1250;
        cursor: pointer;
    }

    .gw-btn-menu-mob ion-icon{
        vertical-align: middle;
    }

    .gw-menu-mob {
        width: 240px;
        height: 100vh;
        display: block;
        background-color: #000;
        position: fixed;
        top: 0;
        padding: 100px 30px 30px;
        z-index: 1200;
        transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    .gw-menu-is-open {
        right: 0;
    }

    .gw-menu-is-closed {
        right: -220px;
    }
       
        
    .gw-menu-mob a {
        width: 100%;
        height: 60px;
        display: block;
        line-height: 60px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        border-bottom: 2px solid #ff0000;
    }

    .gw-menu-mob a:hover{
        color:#ff0000;
    }

    .gw-btn-contact {
        width: 45px;
        height: 45px;
        display: block;
       background-color: #ff0000;
        background-image: url('../images/icon.svg');
        background-repeat: no-repeat;
        position: fixed;
        bottom: 45px;
        right: 45px;
        border-radius: 50%;
        z-index: 200;
        transition: all 0.2s ease-out;
        border: none;
        cursor: pointer;
    }    

    .gw-contact-info {
        width: 245px;
        height: 165px; 
        padding: 25px;
        position: fixed;
        bottom: 115px; 
        right: 65px;
        z-index: 200;   
        display: none;   
    }

    .gw-contact-info-inner {
        display: table;
        width: 100%;
        float: right;
    }

    .gw-contact-info-inner p {
        font-size: 18px;
        line-height: 24px;
    }

    .gw-social-links, .gw-social-links-circle {
        width: 100%;
        height: 45px;
        display: block;
        position: relative;
        left: -12px;
        margin-top: 7px;
    }

    .gw-social-links-circle {
        left: 0;
    }

    .gw-social, .gw-social-links-circle .gw-social {
        width: 45px;
        height: 45px;
        display: inline-block;
    }

    .gw-social-links-circle .gw-social{
        border-radius: 50%;
        text-align: center;
        transition: all 0.2s ease-out;
    }

    .gw-social-links-circle .gw-social ion-icon{
        height: 45px;
        transition: all 0.2s ease-out;
    }

    .gw-social-links-circle .gw-social:hover {
        background-color: #000;
    }

    .gw-social-links-circle .gw-social:hover ion-icon{
        color: red;
    }

    .gw-social > img {
        width: 20px;
        height: auto;
        display: block;
        margin: 13px auto 0;
    }

    .gw-corner {
        width: 25px;
        height: 25px;
        display: block;
        float: right;
        display: relative;
    }

    .gw-corner:after {
        content: '';
        width: 25px;
        height: 25px;
        display: block;
        position: absolute;
        bottom: -23px;
        right: 0;
        background: transparent url('../images/corner.svg') no-repeat;
    }

    /*----HOME----*/

    .gw-display-text {
        margin-top: 10%;

    }

    .gw-display-text > p {
        background-color: #00000093;
        padding: 15px;
        border-radius: 20px;
    }
    .teste10{
      display: inline-block;
      margin: auto;
    }

    .gw-home-presentation {
        background-image: url('../images/home.png');
        background-repeat: no-repeat;
        background-position: 75%;
        margin-right: 20px;
    
        position: relative;
        background-size: 100% auto;
        
    }   
    
    .gw-home-presentation h1 {
        margin-top: 60px;
        text-align: center;
    }

    .gw-home-presentation p {
        text-align: center;
    }

    .gw-home-presentation .gw-btn {
        margin-left: auto;
        margin-right: auto;
    }

    .gw-scroll-down {
        width: 70px;
        height: 105px;
        border-radius: 35px 35px 0 0;
       background-color: #ff0000;
        display: block;        
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 100;
    }

    .gw-arrow-down {
        width: 100%;
        height: 75px;
        display: table;
        margin-top: 30px;
        position: relative;
    }

    .gw-arrow-down img {
        width: 16px;
        height: 10px;
        display: block;        
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        animation: arrowDown 1.5s linear 1.5s infinite;
    }

    .gw-arrow-down:before {
        content: '';
        width: 2px;
        height: 45px;
        display: block;        
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #000;
        animation: lineDown 1.5s ease-out infinite;
        transform-origin: top center;
    }

     /*----HOME - PORTFOLIO ----*/

     .gw-portfolio-navigator {
         width: 68%;
         height: auto;
         display: table;
         position: absolute;
         left: 15px;
         bottom: 10px;
         z-index: 900;
     }

     .gw-navigator-counter {
         width: 100%;
         height: 90px;
         display: block;
         margin-bottom: 60px;
         position: relative;
     }

     .gw-navigator-counter:before {
         content: '';
         display: block;
         width: 35px;
         height: 100%;
         background-color: #1c1c1c;
         position: absolute;
         top: 3px;
         left: 0;
     }

     .gw-navigator-counter span {
         font-family: 'Open Sans', sans-serif;
         font-size: 120px;
         line-height: 90px;
         font-weight: 600;
     }

     .gw-item-navigator {
         width: 100%;
         display: table;
     }

     .gw-item-navigator a {
         width: 20px;
         height: 1px;
         display: block;
         margin: 0 0 40px 35px;
         background-color: #4D4C4C;
     }

     .gw-item-navigator a.gw-item-active {
       background-color: #ff0000;
     }

     .gw-item-navigator a:last-child {
         margin-bottom: 30px;
     }

     .gw-items-next-prev {
         width: 100%;
         height: 45px;
         display: flex;
         justify-content: space-around;
         align-items: center;
         background-color: #2C2C2C;
         border-radius: 23px;
     }

     .gw-items-next-prev > div {
         height: 32px;
     }

     .gw-items-counter {
         font-family: 'Open Sans', sans-serif;
         color: #4D4C4C;
         line-height: 32px;         
     }

     .gw-item-prev, .gw-item-next {
         width: 45px;
         color: red;
         text-align: center;
         cursor: pointer;
     }

     .gw-items-counter span:nth-child(1){
        color: #bcbcbc;
     }

     .gw-items-counter span:nth-child(2){
        color: #4D4C4C;
     }

    ion-icon {
        font-size: 32px;
    }

    .gw-slider-container {
        display: block;
        overflow: hidden;
        padding-bottom: 120px;
    }

    .gw-slider-list {
        width: auto;
        display: block;
        list-style: none;
    }

    .gw-slider-list  .gw-portfolio-item {
        display: block;
        height: auto;
        float: left;
        margin-top: 0;
    }
    
    .gw-portfolio-list  .gw-portfolio-item {
        margin-bottom: 30px;
    }

    .gw-slider-list  .gw-portfolio-item-info{
       width: 100%;
       display: table;
       margin-top: 15px;
       position: relative;
       opacity: 0;
   }

   .gw-portfolio-list  .gw-portfolio-item-info{
        width: 100%;
   }

   .gw-slider-list .gw-portfolio-item-info p{
    text-align: center;
   }

   .gw-slider-list .gw-portfolio-item-info button{
    margin: 0 auto;
   }

   .gw-portfolio-list {
       list-style: none;
   }

   .gw-slider-list  .gw-portfolio-item-thumb{
       width: 100%;
       display: table;
       padding: 30px 0 19px 0;
       position: relative;
   }

   .gw-portfolio-list  .gw-portfolio-item-thumb{
    width: 100%;
    display: table;
    padding: 15px 0 19px 0;
    position: relative;
}

   .gw-slider-list .gw-portfolio-item-thumb > button{
        margin: 17px auto 0 auto;
        float: none;
   }

    .gw-portfolio-list .gw-portfolio-item-thumb > button {
        margin: 17px auto 0 auto;
        float: none;
    }

   .gw-slider-list  .gw-portfolio-item-box{
       width: 100%;
       height: 100%;
       display: block;
       background-color: #2C2C2C;
       position: absolute;
       top: 0;
       left: 10px;
       transform: scaleX(0);
       transform-origin: right;
   }

   .gw-portfolio-list  .gw-portfolio-item-box{
        width: 100%;
        height: 100%;
        display: block;
        background-color: #2C2C2C;
        position: absolute;
        top: 0;
        left: 0;
    }

   .gw-slider-list  .gw-portfolio-item-thumb img   {
        width: 90%;
        max-width: 100%;
        height: auto;
        position: relative;
        left: 5%;
        transform: scale(0);
   }

   .gw-portfolio-list  .gw-portfolio-item-thumb img   {
       width: 100%;
       max-width: 100%;
       height: auto;
       position: relative;
   }

    /*----PORTFOLIO----*/
    .gw-section-offset-top {
        margin-top: 130px;
    }

    

    .gw-portfolio-list .gw-portfolio-item:nth-child(odd) .gw-portfolio-item-info button, .gw-portfolio-list .gw-portfolio-item:nth-child(even) .gw-portfolio-item-info button{
        float: none;
        margin: 0 auto;
    }

    .gw-portfolio-list .gw-portfolio-item:nth-child(odd) .gw-portfolio-item-info p, .gw-portfolio-list .gw-portfolio-item:nth-child(even) .gw-portfolio-item-info p{
        text-align: center;
    }

    .gw-portfolio-list .gw-portfolio-item:nth-child(even) .gw-portfolio-item-info{
        width: 100%;
        margin-left: 0;
    }

    .gw-portfolio-list .gw-portfolio-item:nth-child(even) > .row {
        flex-direction: row-reverse;
    }


    .gw-portfolio-list .gw-portfolio-item:nth-child(even) .gw-portfolio-item-thumb img{
        display: block;
    }

    
    /*----SOBRE----*/

    .gw-section-sobre {
        height: calc(100% - 130px);
    }

    .gw-section-sobre .container-fluid, .gw-section-sobre .container-fluid > .row {
        height: 100%;
    }
    

    .gw-avatar-sobre {
        position: relative;
        height: 430px;
    }

    .gw-box-img {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .gw-titulo-sobre, .gw-info-sobre, .gw-premios-sobre {
        width: 100%;
        display: table;
        float: left;
        margin-bottom: 30px;
    }

    /*----DETALHES----*/
    .gw-hero {
        background-image: url('../pages/portfolio/img/hero.png');
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center;
        display: block;
    }

    .gw-hero h1 {
        margin-bottom: 50px;
    }

    .gw-hero-inner {
        display: table;
        padding: 65px 0;
    }

    .gw-hero-inner-content {       
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        display: block;
        padding: 15px 25px 15px;
    }

    .gw-hero-inner-content p{
        margin-bottom: 15px;
    }

    .gw-project-stats {
        width: 100%;
        height: 100%;
        display: table;
        border-right: none;
    }

    .gw-project-description {
        width: 100%;
        height: 100%;
        display: table;
        margin-top: 30px;
    }

    .gw-post {
        width: 100%;
        display: table;
    }

    .gw-post p{
        margin-bottom: 30px;
    }

    .gw-post-section {
        width: 100%;
        display: table;
        padding: 45px 0;
    }

 

    /* Utilitarias */
    .gw-title-xlarge {
        font-size: 90px;
    }

    .gw-title-large {
        font-size: 36px;
        text-align: center;
    }

    .gw-full-height {
        height: 100%;
        position: relative;
    }

    .gw-text-center-mob {
        text-align: center;
    }
}

@media screen and (min-width: 360px){
    .gw-gallery-frame-container {
        width: 70%;
    }
}

@media screen and (min-width: 400px){
    .gw-avatar-sobre {
       height: 500px;
       
    }

    .gw-box-img {
        width: 370px;
    }
}

@media screen and (min-width: 576px){

    .gw-hero-inner-content {       
        padding: 55px 65px 65px;
    }
}

@media screen and (min-width: 700px){
    .gw-home-presentation{
        background-size: 100%;
    }
}

@media screen and (min-width: 768px){
    .gw-home-presentation{
        background-size: 80%;
    }

    .gw-title-large {
        font-size: 48px;
    }

    .gw-text-center-mob {
        text-align: left;
    }

    .gw-box-img {
        width: 350px;
    }
}

@media screen and (min-width: 992px){
    .gw-menu-mob, .gw-btn-menu-mob {
        display: none;
    }

    .gw-menu {        
        display: table;
        float: left;
        height: 110px;
        margin-left: 30px;
    }

    .gw-menu a {
        font-family: 'Open Sans';
        font-size: 16px;
        color: #f8f8f8;
        text-decoration: none;
        text-transform: lowercase;
        display: inline-block;
        margin: 50px 20px 0 20px;
        font-weight: 400;
        position: relative;
    }

    .gw-menu a:first-child {
        margin-left: 0;
    }

    .gw-menu a:hover {
        color: red;
    }

    .gw-menu a:before {
        content: '';
        width: 100%;
        height: 4px;
       background-color: #ff0000;
        display: block;
        position: absolute;
        bottom: -6px;
        left: 0;
        transition: all 0.2s ease-out;   
        transform: scale(0, 1);  
        transform-origin: center left;
    }

    .gw-menu a:hover:before{
        transform: scale(1, 1);  
    }

    .gw-title-xlarge {
        font-size: 120px;
    }

    .gw-home-presentation {
        background-size: auto;
    } 

    .gw-home-presentation h1 {
        margin-top: 0;
        text-align: left;
    }

    .gw-home-presentation p {
        text-align: left;
    }

    .gw-home-presentation .gw-btn {
        margin-left: 0;
    }

    .gw-portfolio-navigator {
        width: 145px;
        height: 400px;
        left: 15px;
        top: 26vh;
    }

    .gw-slider-container {
        padding-bottom: 0;
    }

    .gw-slider-list  .gw-portfolio-item-thumb{
        padding: 30px 0 19px 0;
        margin-top: 45px;
    }

    .gw-slider-list  .gw-portfolio-item-thumb img   {
        width:  calc(100% + 45px);
        max-width: calc(100% + 45px);
        left: -75px;
    }

    .gw-slider-list .gw-portfolio-item-thumb > button{
        margin: 17px 6.5% 0 0;
        float: right;
   }

   .gw-portfolio-list  .gw-portfolio-item {
    margin-bottom: 100px;
}

   .gw-portfolio-list .gw-portfolio-item:nth-child(odd) .gw-portfolio-item-info{
        text-align: right;
        margin-top: 70px;
    }

    .gw-portfolio-list .gw-portfolio-item:nth-child(odd) .gw-portfolio-item-info button{
        float: right;
    }

    .gw-portfolio-list .gw-portfolio-item:nth-child(odd) .gw-portfolio-item-info h1, .gw-portfolio-list .gw-portfolio-item:nth-child(odd) .gw-portfolio-item-info p{
        text-align: right;
    }

    .gw-portfolio-list .gw-portfolio-item:nth-child(even) .gw-portfolio-item-info{
        margin-left: 105px;
    }

    .gw-portfolio-list .gw-portfolio-item:nth-child(even) .gw-portfolio-item-info button{
        float: left;
    }

    .gw-portfolio-list .gw-portfolio-item:nth-child(even) .gw-portfolio-item-info h1, .gw-portfolio-list .gw-portfolio-item:nth-child(even) .gw-portfolio-item-info p{
        text-align: left;
    }

    .gw-portfolio-list  .gw-portfolio-item-thumb{
        padding: 30px 0 19px 0;
    }

    .gw-portfolio-list  .gw-portfolio-item-thumb img{
        width: calc(100% + 45px);
        max-width: calc(100% + 45px);
    }

    .gw-portfolio-list .gw-portfolio-item:nth-child(even) .gw-portfolio-item-thumb img{
        left: 30px;
    }

    .gw-portfolio-list .gw-portfolio-item:nth-child(odd) .gw-portfolio-item-thumb img{
        left: -75px;
    }

    .gw-portfolio-list .gw-portfolio-item:nth-child(even) .gw-portfolio-item-thumb button{
        float: left;
        margin-left: 75px;
    }

    .gw-portfolio-list .gw-portfolio-item:nth-child(odd) .gw-portfolio-item-thumb button{
        float: right;
        margin-right: 75px;
    }



    .gw-portfolio-list .gw-portfolio-item-thumb{
        width: 100%;
        display: table;
        padding: 35px 0 19px 0;
        position: relative;
    }
    
    .gw-portfolio-list  .gw-portfolio-item-box{
        width: 100%;
        height: 100%;
        display: block;
        background-color: #2C2C2C;
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(1);
        transform-origin: right;
    }
    
    .gw-portfolio-list .gw-portfolio-item-thumb > button {
        margin-top: 17px;
        margin-right: 75px;
        float: right;
    }
    
    
    .gw-portfolio-list .gw-portfolio-item-thumb img {
        width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;
        left: -25px;
    
        transform-origin: right;
    }
    
    .gw-portfolio-list{
        list-style: none;
    }
    
    .gw-portfolio-list .gw-portifolio-item{
        margin-bottom: 100px;
    }
    
    
    .gw-portfolio-list .gw-portfolio-item-info {
        width: calc(100% - 75px);
      
    }
    
    

    
    
 
 
 
    
  


   .gw-navigator-counter span{       
        font-size: 100px;
    }
    .gw-navigator-counter:before {
       width: 30px; 
    }

    .gw-items-next-prev {
        justify-content: center;
    }

    .gw-title-large,.gw-slider-list .gw-portfolio-item-info p {
        text-align: left;
    }

    .gw-slider-list  .gw-portfolio-item {
        display: block;
        height: 500px;
        float: left;
        margin-top: calc(26vh - 75px);
    }

    .gw-slider-list  .gw-portfolio-item-info{
        width: calc(100% - 75px);
        left: -75px;
        margin-top: 73px;
    }

    .gw-slider-list .gw-portfolio-item-info button{
        margin: 0;
     }

     .gw-project-stats {
        border-right: 1px solid red;
     }

     .gw-project-description {
        margin-top: 0;
    }

    .gw-gallery-frame-container {
        width: 320px;
    }

    .gw-gallery-frame-image {
        top: 17px;
    }

    .gw-avatar-sobre {
        height: 100%;
    }

    .gw-titulo-sobre {
        width: 100%;        
    }
    .gw-titulo-sobre h1{
        font-size: 90px;       
    }
    .gw-info-sobre {
        width: 55%;
    }
    .gw-premios-sobre {
        width: 45%;
        padding-left: 30px;
    }
    .gw-box-img {
        width: 100%;
        display: table;
   
    }

     /* --- UTILITARIAS --- */

     .gw-full-height {
        height: 100vh;
    }


    
    /*Configurações Padrões*/
    ul.menu,
    .menu li,
    .menu a {

        list-style: none;
        text-decoration: none;
        font-family: 'Open-Sans','Sans Serif';
    }

    ul.menu ul {
        position: absolute;
        display: none;
        box-shadow: 3px 3px 30px red;
        background-color: #000;

    }

    /* Configurações nivel 1*/
    ul.menu {
      text-align: center;
        font-size: 15px;
        border-radius: 5px;
  
        margin-top: 20px;
    }

    .menu li {
        float: left;
        width: auto;
        position: relative;
    }

    .menu li a {
        display: block;
      text-align: center;
        float: center;
        transition: all 0.1s linear;
    }

    /* Configurações nivel 2*/
    .menu li:hover>ul.submenu-1 {
        display: block;
        top: 35px;

        left: 0;
        padding: 15px;
        padding-top: 0;
        width: 220px;
        border-radius: 0 0 5px 5px;
    }


    .menu a {
        color: red;
        margin-top: 25px;
        font-size: 18px;
        font-weight: 900;
        font-family: '';

    }

    .menu li:hover>a {
      
   color: white;
    }

    /*nivel 2*/
    .submenu-1 {
        margin-top: 17px;
       
    }

    .submenu-1 a {
        color: #fff;
    }

 

}

.gw-avatar-sobre {
    height: 400px;
    
 }

 .gw-box-img {
     width: 370px;
 }


@media screen and (min-width: 1024px) and (max-width: 1024px){
    .gw-avatar-sobre {
        height: 400px;
    }
}

@media screen and (min-width: 1200px){


    
    .gw-modal {
        width: 800px;
    }

    .gw-field, .gw-textarea {
        margin-bottom: 15px;
    }

    .gw-title-large {
        font-size: 64px;
    }

    .gw-slider-list  .gw-portfolio-item-thumb{
        padding: 75px 0 19px 0;
        margin-top: 0;
    }

    .gw-slider-list  .gw-portfolio-item-thumb img   {
        width: 100%;
        max-width:100%;
        left: -75px;
    }

    .gw-slider-list .gw-portfolio-item-thumb > button{
        margin-right: 75px;
   }

   .gw-portfolio-list  .gw-portfolio-item-thumb{
        padding: 75px 0 19px 0;
    }

   .gw-portfolio-list  .gw-portfolio-item-thumb img{
        width: 100%;
        max-width:100%;
    }

   .gw-portfolio-list .gw-portfolio-item:nth-child(even) .gw-portfolio-item-thumb img{
    left: 75px;
    }

    .gw-portfolio-list .gw-portfolio-item:nth-child(odd) .gw-portfolio-item-thumb img{
        left: -75px;
    }

    .gw-gallery-frame-container {
        width: 340px;
    }


   .gw-navigator-counter span{       
        font-size: 120px;
    }
    .gw-navigator-counter:before {
       width: 35px; 
    }

    .gw-titulo-sobre h1{
        font-size: 120px;       
    }
}

@media screen and (min-width: 1364px){

    .gw-info-sobre {
        width: 48%;
    }
    .gw-premios-sobre {
        width: 37%;
    }
    
}

@media screen and (min-width: 1500px){

    .gw-info-sobre {
        width: 43%;
    }
    .gw-premios-sobre {
        width: 31%;
    }
    
}

@media screen and (min-width: 1600px){
    .gw-gallery-frame-container {
        width: 400px;
    }
}

@media screen and (min-width: 1500px){

    .gw-info-sobre {
        width: 35%;
    }
    .gw-premios-sobre {
        width: 31%;
    }
    
}

/* BOTÕES */

.gw-btn {
    display: table; 
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: none;
    transition: all 0.2s ease-out;
    text-transform: lowercase;
    position: relative;
}

.gw-btn ion-icon {
    font-size: 21px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    margin-top: -3px;
}

.gw-btn-block {
    display: block;
    width: 100%;
}

.gw-btn-small {
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    border-radius: 14px;
    font-size: 11px;
}

.gw-btn-medium {
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
    border-radius: 19px;
    font-size: 14px;
}

.gw-btn-large {
    height: 45px;
    line-height: 45px;
    padding: 0 35px;
    border-radius: 23px;
    font-size: 16px;
}

.gw-btn-red2 {
   background-color: #ff0000;
    color: #f8f8f8;
}

.gw-btn-red2:hover {
    background-color: #000;
    color:#ff0000;
    box-shadow: 3px 3px 30px #ff000067;
}

.gw-btn-dark {
    background-color: #000;
    color:#ff0000;

}

.gw-btn-dark:hover {
   background-color: #ff0000;
    color: #1C1C1C;
    box-shadow: 3px 3px 30px #000000d3;
}

/* CLASSES UTILITARIAS */

.gw-title {
    font-family: 'Abril Fatface', serif;
    font-weight: normal;
}

.gw-subtitle {
    font-family: 'Open Sans', serif;
    font-weight: 800;
}

.gw-title-medium {
    font-size: 48px;
}

.gw-text-red2 {
    color: red;
}

.gw-text-dark {
    color: #f8f8f8;
}

.gw-text-light {
    color: #ffffff;
}

.gw-text-black {
    color: #000;
}

.gw-text-center {
    text-align: center;
}

.gw-bg-green {
   background-color: #ff0000;
}

.gw-bg-dark {
    background-color: #4D4C4C;
}

.gw-bg-light {
    background-color: #bcbcbc;
}

.gw-bg-black {
    background-color: #000;
    box-shadow: 3px 3px 30px #ff0000;
}

.gw-mar-15 {
    margin: 15px;
}
.gw-mar-top-15 {
    margin-top: 15px;
}
.gw-mar-right-15 {
    margin-right: 15px;
}
.gw-mar-bottom-15 {
    margin-bottom: 15px;
}
.gw-mar-left-15 {
    margin-left: 15px;
}

.gw-pad-15 {
    padding: 15px;
}
.gw-pad-top-15 {
    padding-top: 15px;
}
.gw-pad-right-15 {
    padding-right: 15px;
}
.gw-pad-bottom-15 {
    padding-bottom: 15px;
}
.gw-pad-left-15 {
    padding-left: 15px;
}


.gw-mar-30 {
    margin: 30px;
}
.gw-mar-top-30 {
    margin-top: 30px;
}
.gw-mar-right-30 {
    margin-right: 30px;
}
.gw-mar-bottom-30 {
    margin-bottom: 30px;
}
.gw-mar-left-30 {
    margin-left: 30px;
}

.gw-pad-30 {
    padding: 30px;
}
.gw-pad-top-30 {
    padding-top: 30px;
}
.gw-pad-right-30 {
    padding-right: 30px;
}
.gw-pad-bottom-30 {
    padding-bottom: 30px;
}
.gw-pad-left-30 {
    padding-left: 30px;
}

.gw-first-section {
    height: calc(100vh - 30px);
}

.gw-no-padding {
    padding: 0 !important;
}

.gw-img-responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}




.gw-page-list {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

.gw-page-list > li {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
}

.gw-page-list > li:before{
    content: '';
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 0;
   background-color: #ff0000;
}


/* CLASSES COMPORTAMENTO */
.img-animation > img {
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateY( -30px);
    }
    100%{
        transform: translateY(0px);
    }
    
}




.gw-is-open {
    display: block;
}

.gw-slide-top-in {
    animation: slideTopIn 0.6s forwards cubic-bezier(0,1.11,.6,.89);
}

.gw-change-icon {
    background-position-y: -45px;
}

.gw-fade-out{
    animation: fadeOut 2s forwards ease-out;
}

.gw-fade-from-left{
    animation: fadeFromLeft 2s 0.7s forwards cubic-bezier(0,1.01,.32,1);
}

.gw-scale-right {
    animation: scaleRight 0.7s 0.2s forwards cubic-bezier(0,1.01,.32,1);
}

.gw-scale-up {
    animation: scaleUp 0.5s 0.5s forwards cubic-bezier(0,1.01,.32,1);
}

.gw-no-radius-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.gw-no-radius-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.red {
    background: red;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.purple {
    background: purple;
}

.blue {
    background: blue;
}

/* PLUGINS OVERWRITE */
[data-aos=flip-left] {
    transform: perspective(2500px) rotateY(-90deg);
}



